.big{margin-top: auto;
    margin-left: 40%;
width: 400px;
height: auto;
border: red solid 1px;}
.qr{border-color: grey;
border-radius: 1px;}
.fast{width: 50px;height: 50px;
    border-radius: 50%;
    border : solid;
    color: teal;
    align-content: center;
    display: inline-block;
    text-shadow: 1px 1px;
    text-align: center;
    line-height: 50px;
}
.head{ width: 30px;}
/* 手机图标 */
.pho{border-radius: 5px;
    background-color: red;
    height: 144px;
    width: 80px;
    border: solid red;
    margin: auto;
}
.whi{ background-color: white;
    border-radius: 2px;
    margin-top: 5px;
height: 128px;
width: 72px;
margin-left: auto;
margin-right: auto;}
/* 登录界面 */
.login{margin-top: 20px;}
.head{width: 30px;}
.table{display: inline-block;
margin-left: 20%;}